<!DOCTYPE html>
<html>
    <body>
        <main id="areaPrincipal">
            <section>
                <strong>
                    <p>Registrar</p>
                </strong>
                <form action="/movies/create" method="POST" >
                                <div>
                                    <input type="text" name="title" type="text" placeholder="titulo">
                                </div>
                                <div>
                                    <input type="text" name="rating" type="text" placeholder="rating">
                                </div>
                                <div>
                                    <input type="text" name="length" type="text" placeholder="tamaño">
                                </div>
                                <div>
                                    <input type="text" name="awards" type="number" placeholder="premios">
                                </div>
                                <div>
                                    <input type="text" name="release_date"  type="date" placeholder="fecha">
                                </div>
                                <div id="boton">
                                    <input type="submit" value="Crear" class="botonPrimario">
                                </div>
                </form>            
            </section>
        </main>
    </body>
</html>
